<div class="container">


  <!--Search employee based on a field -->

  <form (ngSubmit)="onsubmit()" #f="ngForm">
    <div class="row">
      <div class="col-sm">
      <mat-form-field appearance="fill">
        <mat-label>Step 1:</mat-label>
        <mat-select [(value)]="selected" id="type" name="type" ngModel class="form-control" required>
          <mat-option>None</mat-option>
          <mat-option value="id">Id</mat-option>
          <mat-option value="name">Name</mat-option>
          <mat-option value="email">Email</mat-option>
          <mat-option value="phone">Phone Number</mat-option>
          <mat-option value="website">Website</mat-option>
        </mat-select>
      </mat-form-field>
      </div>
    </div>


    <div class="row" >

      <div class="col-sm-5">
          <div class="input-group" style="margin: auto">
            <!--     search input -->
            <input type="text" id="value" name="value" ngModel class="form-control" required placeholder="Step 2: input value...">
            <div class="input-group-append">
              <button type="submit"
                      [disabled]="!f.valid" class="btn btn-primary">Search
              </button>
            </div>
          </div>
      </div>

      <div class="col-sm-2">
        <button class="btn btn-light" (click)="refreshPage()">Show all Employees</button>
      </div>


      <div class="col-sm-4" >
        <div style="margin-left: 20%">
          <!--add new Employee button-->
          <span class="text-info">Click Here to Add a new Employee : </span>
          <button type="button" class="btn btn-primary" (click)="openDialogForNewEmployee()">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                 class="bi bi-person-plus-fill"
                 viewBox="0 0 16 16">
              <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
              <path fill-rule="evenodd"
                    d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
            </svg>
          </button>
        </div>

      </div>
    </div>

</form>

</div>


&nbsp;
<!--use table to render all employees data-->

<div class="container">
  <table class="table">
    <thead class="thead-dark">
    <tr style="position: relative">
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Website</th>
      <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>

    <tr *ngFor="let employee of allEmployeesDetails;index as i"
        [ngStyle]="{'background-color':getColor(i) === 0 ? '#f2f3f4' : 'white' }"

    >
      <td>{{i + 1}}</td>
      <td>{{employee.name}}</td>
      <td>{{employee.email}}</td>
      <td>{{employee.phoneNumber}}</td>
      <td>{{employee.website}}</td>
      <td>
        <button type="button" class="btn btn-info" (click)="openDialog(employee)">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill"
               viewBox="0 0 16 16">
            <path
              d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
          </svg>
        </button>
        &nbsp;
        <button type="button" class="btn btn-danger" (click)="deleteEmployee(employee)">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash"
               viewBox="0 0 16 16">
            <path
              d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
            <path fill-rule="evenodd"
                  d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
          </svg>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>


